# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env/
venv/
env/
.venv/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Editor directories and files
.vscode/
.idea/

# OS files
*.pem
.DS_Store